name: Release apps

on:
  release:
    types:
      - published

concurrency:
  group: release-apps
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy to production
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - app: amanda
            directory: apps/amanda
            repository: federation/app/amanda
            cluster-name: pbotapps-kube-1
            cluster-rg: pbotapps-kube-rg
            cluster-ns: pbotapps
            values: |
              ingress:
                enabled: true
                annotations:
                  nginx.ingress.kubernetes.io/rewrite-target: /$2
                  nginx.ingress.kubernetes.io/configuration-snippet: |-
                    add_header X-Robots-Tag "noindex, nofollow";
                hosts:
                  - host: pbotapps.portland.gov
                    paths:
                      - path: /amanda(/|$)(.*)
                        pathType: ImplementationSpecific
                tls:
                  - secretName: pbotapps-portland-gov-tls
                    hosts:
                      - pbotapps.portland.gov
          - app: bus-reservation
            directory: apps/bus-reservation
            repository: federation/app/bus-reservation
            cluster-name: pbotapps-kube-1
            cluster-rg: pbotapps-kube-rg
            cluster-ns: pbotapps
            values: |
              ingress:
                enabled: true
                annotations:
                  nginx.ingress.kubernetes.io/permanent-redirect: https://www.portland.gov/transportation/permitting/temporary-street-use-permitting-tsup#toc-on-street-bus-or-motorcoach-parking
                hosts:
                  - host: pbotapps.portland.gov
                    paths:
                      - path: /bus-reservation(/|$)(.*)
                        pathType: ImplementationSpecific
                tls:
                  - secretName: pbotapps-portland-gov-tls
                    hosts:
                      - pbotapps.portland.gov
          - app: pudl
            directory: apps/pudl
            repository: federation/app/pudl
            cluster-name: pbotapps-kube-1
            cluster-rg: pbotapps-kube-rg
            cluster-ns: pudl
            values: |
              ingress:
                enabled: true
                hosts:
                  - host: pudl.portland.gov
                    paths:
                      - path: /
                        pathType: ImplementationSpecific
                tls:
                  - secretName: pudl-portland-gov-tls
                    hosts:
                      - pudl.portland.gov
          - app: sign-library
            directory: apps/sign-library
            repository: federation/app/sign-library
            cluster-name: pbotapps-kube-1
            cluster-rg: pbotapps-kube-rg
            cluster-ns: pbotapps
            values: |
              ingress:
                enabled: true
                annotations:
                  nginx.ingress.kubernetes.io/rewrite-target: /$2
                hosts:
                  - host: pbotapps.portland.gov
                    paths:
                      - path: /sign-library(/|$)(.*)
                        pathType: ImplementationSpecific
                tls:
                  - secretName: pbotapps-portland-gov-tls
                    hosts:
                      - pbotapps.portland.gov
    steps:
      - uses: actions/checkout@v3
      - name: Create values file
        uses: ./packages/actions/merge-values
        with:
          input: chart/values.yaml
          output: values.yaml
          values: ${{ matrix.values }}
      - name: Modify values file
        uses: ./packages/actions/merge-values
        with:
          input: values.yaml
          output: values.yaml
          values: |
            fullNameOverride: ${{ matrix.app }}-app
            image:
              repository: ${{ format('{0}.azurecr.io', matrix.registry || 'pbotapps') }}/${{ matrix.repository }}
              tag: ${{ github.ref_name }}
      - uses: ./packages/actions/deploy
        with:
          credentials: ${{ secrets.AZURE_CREDENTIALS }}
          cluster-name: ${{ matrix.cluster-name }}
          cluster-rg: ${{ matrix.cluster-rg }}
          namespace: ${{ matrix.cluster-ns }}
          chart: ./chart
          release-name: ${{ matrix.app }}-app
          values-file: values.yaml
